@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4fb3f6;
}

#title {
    margin: 75px 0;
    text-align: center;
    font-size: 300%;
}

#formulas {
    padding: auto;

    li {
        width: 25%;
        display: block;
        float: left;
        padding: 15px;
        margin: 8px;
        background-color: red;
    }
}

footer {
    text-align: center;
    padding: 20px;
}